<div class="clientes">
  <div class="dados">
    <p>
      <%= image_tag("audi.jpg") %>
    </p>
    <p>
      <%= image_tag("fiat.png") %>
    </p>
    <p>
      <%= image_tag("honda.jpg") %>
    </p>
    <p>
      <%= image_tag("chevrolet.jpg") %>
    </p>
    <p>
      <%= image_tag("citroen.jpg") %>
    </p>
    <p>
      <%= image_tag("volkswagen.jpg") %>
    </p>
  </div>
</div>